<% if @posts.count == 0 %>
No posts
<% end %>
<div class='container'>
<table class='table'>
	<ul class="list-inline">
		<% @posts.each do |post| %>
			<li>
				<%= link_to image_tag(post.image.url(:thumb)), post_path(post), class: 'image-link' %><br>
			</li>
<% end %>
</ul>
</table>
</div>
<% if user_signed_in? %>
<%= link_to 'Add a post', new_post_path, class: 'create-post' %>
<% end %>