<% if @posts.count == 0 %>
	No posts
<% end %>
<div id="masonry">
		<% @posts.each do |post| %>
		<div class='item thumbnail'>
				<%= link_to image_tag(post.image.url(:thumb)), post_path(post), class: 'image-link', remote: true, data: { toggle: "modal", target: "#ajax-modal" } %>
		</div>
		<% end %>
</div>
<% if user_signed_in? %>
	<%= link_to 'Add a post', new_post_path, class: 'create-post' %>
<% end %>