<section class='bootstrap-form'>
	<%= bootstrap_form_for @post, :html => { :multipart => true } do |f| %>
		<%= f.text_area :caption %>
		<span><%= f.file_field :image, class: "btn btn-file" %></span>
		<%= f.submit 'Submit' %>
	<% end %>
</section>