@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-modal-bs3patch.css";
@import "bootstrap-modal.css";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */


#main-container {
  width: 80%;
  background-color: rgb(247, 247, 247);
  padding: 0px;
  text-align: center;
}

#main-content {
  width: 100%;
  padding:60px;
}

.header a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

#comments-list li {
	word-wrap: break-word;
}

#comments-list {
	overflow-x: auto;
	overflow-y: scroll;
	height: 334px;
	width: 200px;
}

#like-links, #link-name {
	display: inline;
}

#caption {
	display: block;
}

#img-wrapper {
	object-fit: none; /* Do not scale the image */
	object-position: center; /* Center the image within the element */
	height: 500px;
	width: 500px;
	vertical-align: middle;
	display: inline-block;
	background-color: black;
  overflow: hidden;

}

#img-wrapper img {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

#img-info {
	display: inline-flex;
}

section#modal-comments {
height: 500px;
margin-left: 0 !important;
margin: 0px;
overflow: hidden;
width: 190;
border-left: 3px gray solid;
}

#modal-main {
	height: 500px;
	width: 500px;
}

/*.thumb-wrapper {
  width: auto;
  overflow: hidden;
  height: auto;
}*/

/*Masonry*/

* {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      .masonry {
        width: 100%;
      }
 
      .item {
        width:  150px;
        height: 150px;
        float: left;
        background: #2296DD;
        padding: 5px;
        margin: 20px;
        box-shadow: 2px 2px 5px #888888;
        overflow: hidden;
        background: #cfcfcf;
        border-radius: 3px;
      }

/*      .item img {
        height: 150px;
        border-radius: 3px;
        width: auto;
        position: relative;
        max-width: 1000% !important;
      }*/

.thumb-wrapper {
    width: 100%; /* or whatever is required */
    text-align: center; /* ensures the image is always in the h-middle */
    overflow: hidden; /* hide the cropped portion */
    height: 100%;
    border-radius: 3px;
}

.item img {
    position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%; /* magic! */
    height: 150px;
}

 
      .item.thumbnail {
/*        width:  100%;
        height: 100%;*/
        background: #cfcfcf;
      }
 
      .item.medium {
        width:  150px;
        height: 50px;
        background: #A6E392
      }
 
      .item.large {
        width:  200px;
        height: 100px;
        background: #D092E3
      }