<div id="ajax-modal" class="modal hide fade" tabindex="-1">
  <div class='modal-body'>
    <div class="modal-body-content"></div>
    <div class="ajax-loader"></div>
  </div>
</div>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all' %>